@inject IJSRuntime _jsRuntime;

<div class="blazor-custom-element">
    <div>
        <h3>@ElementTitle</h3>
        This component is defined in the <strong>BlazorComponents</strong> library.<br />
        <strong>@_clientMessage</strong>
    </div>
    <div>
        <button class="btn btn-primary" @onclick="DispatchEventAsync">Send message to client</button>
        <button class="btn btn-primary" @onclick="@(()=>_currentCount++)">Count is @_currentCount</button>
    </div>
    <BlazorCustomReconnect />
</div>