#blazor-message {
  font-size: 18px;
  font-weight: bold;
  margin: 8px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.card button {
  margin-right: 4px;
}

.card-blazor {
  display: flex;
  align-items: center;
}
