<div>
    <blazor-custom-element-scoped element-title="Blazor Micro Frontend (CSS Scoped)"></blazor-custom-element-scoped>
    <blazor-custom-element element-title="Blazor Micro Frontend (CSS Unscoped)"></blazor-custom-element>
</div>