@page "/"

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Blazor Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/blazor-components/styles.css" />
</head>
<body>
    <BlazorComponentsPageContent />
    <script data-base-path="/blazor-components/" src="/blazor-components/index.js" async></script>
</body>
</html>