<div id="components-reconnect-modal" class="components-reconnect-modal">
    <div class="components-reconnect-spinner"></div>
    <div class="components-reconnect-count"></div>
    <button class="components-reconnect-button btn btn-primary" onclick="location.reload()">Reload Page</button>
</div>